<div class="pt-0_8 pb-0_8">
    <h1 class="font-7 font-lg">
        AAA Company <span class="font-6 font-md">(Tertiary school)</span>
    </h1>
    <div [ngClass]="{
          'flex-reverse': reverse
    }" class="row gap-flex-60">
        <div class="row">
            <div class="mr-0_8 font-4">
                <span class="text-gray_text mr-0_8">From</span>
                <span>01/02/2020</span>
            </div>
            <div class="">
                <span class="text-gray_text mr-0_8">To</span>
                <span>01/02/2020</span>
            </div>
        </div>
        <div class="">
            <span class="text-gray_text mr-0_8">Major subject & Level attained:</span>
            <span>Biology</span>
        </div>
    </div>
</div>