<div>
    <!-- <app-form-detail-applicant ></app-form-detail-applicant> -->
    <div class="row justify-space-between align-center">
        <div class="row align-center">
            <app-title-page [title]="'John Doe'" [backRouter]="true"></app-title-page>
        </div>
        <div class="row wrapper_button">
            <app-button-common [btnData]="btnReject"></app-button-common>
            <app-button-common [btnData]="btnSchedule1"></app-button-common>
        </div>
    </div>
    <div class="row w-full gap-24 mt-24">
        <div class="row col-xl-8">
            <app-profile-apply></app-profile-apply>
        </div>
        <div class="col-xl-4">
            <div class="paper-bg p-16 wrapper_left">
                <p class="font-xl font-600 text-black">Interview Information</p>
                <div class="p-12 bg-bg_layout mt-16">
                    <h4>Round 1</h4>
                    <div class="mt-04 mb-04">
                        <span class="title_item">Time:</span>
                        <span>12/07/2024, 15:30</span>
                    </div>
                    <div class="title_item">
                        <span class="title_item">Interviewer:</span>
                        <span>Christopher</span>
                    </div>
                    <div class="display-flex">
                        <span class="title_item">Evaluation:</span>
                        <div class="display-flex flex-column">
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Appearance', evaluation: 'Good' }"></ng-container>
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Manne', evaluation: 'Good' }"></ng-container>
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Personality', evaluation: 'Merit' }"></ng-container>
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Knowledge/Skills', evaluation: 'Good' }"></ng-container>
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Experienc', evaluation: 'Good' }"></ng-container>
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Communication', evaluation: 'Good' }"></ng-container>
                            <ng-container [ngTemplateOutlet]="evaluation"
                                [ngTemplateOutletContext]="{ label: 'Language', evaluation: 'Poor' }"></ng-container>
                        </div>
                    </div>
                    <div class="">
                        <span class="title_item">Comment:</span>
                        <p class="">
                            Lorem ipsum dolor sit amet, adipiscing elit. Sed eget sem ut
                            elit euismod dignissim et nec lacus. Cras volutpat nibh justo,
                            quis tempor metus pulvinar nec. Aenean luctus feugiat odio, at
                            finibus erat fringilla ac. Vivamus sit amet nulla id dui dapibus
                            aliquet. Mauris sodales, leo sed fermentum gravida, erat ante
                            vulputate elit, id elementum massa nisl.
                        </p>
                    </div>
                </div>
                <div class="p-12 bg-bg_layout mt-08">
                    <h4>Round 1</h4>
                    <div class="title_item">
                        <span class="evaluation-item_title">Time:</span>
                        <span class="font-400 font-md">13/07/2024, 15:30</span>
                    </div>
                    <div class="title_item">
                        <span class="evaluation-item_title">Interviewer:</span>
                        <span class="font-400 font-md">Esther Howard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #evaluation let-label="label" let-evaluation="evaluation">
    <div class="title_item">
        <span class="evaluation-item_title">{{label}}:</span>
        <span class="font-600 font-md">{{evaluation}}</span>
    </div>
</ng-template>