<div class="row justify-space-between align-center">
  <app-title-page [title]="'Dashboard'" [backRouter]="false"></app-title-page>
  <div class="wrapper_date-week">
    <app-date-pick-common [dataInput]="dateInterviewer"
      (onChange)="handleChange($event, 'week')"></app-date-pick-common>
  </div>
</div>
<div class="row">
  <div class="row gap-02 mt-24 mb-24 w-full">
    <div class="col-xl-3" *ngFor=" let item of listNumber">
      <div class="paper-bg p-16">
        <p class="font-md text-gray">{{item.title}}</p>
        <h4 class="font-xl">{{item.count}}</h4>
      </div>
    </div>
  </div>
  <div class="row w-full gap-24">
    <div class="row col-xl-8">
      <div class="w-full">
        <div class="paper-bg p-12">
          <div class="display-flex align-center justify-space-between">
            <p class="font-xl text-black font-600">New applicants</p>
            <a class="font-md text-blue font-500 cursor-pointer" [routerLink]="'/applicants'">Show more</a>
          </div>
          <div class="display-flex align-center justify-space-between p-12">
            <app-table-common [dataTable]="dataTableJobRequest" class="w-full"></app-table-common>
          </div>
        </div>
      </div>
      <div class="w-full mt-24">
        <div class="paper-bg p-12">
          <div class="display-flex align-center justify-space-between">
            <p class="font-xl text-black font-600">New applicants</p>
            <a class="font-md text-blue font-500 cursor-pointer" [routerLink]="'/applicants'">Show more</a>
          </div>
          <div class="display-flex align-center justify-space-between p-12">
            <app-table-common [dataTable]="dataTableOpened" class="w-full"></app-table-common>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="paper-bg p-16 scrollbar-custom wp__left-side">
        <p class="font-xl font-600 text-black">To interview today (12)</p>

        <div class="pt-12 pb-12" *ngFor="let item of dataInterview">
          <div class="wp__item-inter">
            <div class="row justify-space-between align-center">
              <div class="row">
                <span class="font-6">{{item.name_interview}}</span>
                <span class="ml-16" [ngClass]="CONSTANTS_STATUS_INTERVIEWER[item.status] || '' ">{{item.status}}</span>
              </div>
              <span class="text-gray">{{item.time}}</span>
            </div>
            <div class="">
              <span class="text-gray title-interview">Job title:</span>
              <span class="truncate">{{item.job_title}}</span>
            </div>
            <div class="">
              <span class="text-gray title-interview">Department:</span>
              <span class="truncate">{{item.department}}</span>
            </div>
            <div class="">
              <span class="text-gray title-interview">Interviewer:</span>
              <span class="truncate">{{item.interviewer}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>