<div class="">
  <div class="row justify-space-between align-center">
    <div class="row align-center">
      <!-- <TitleComponent title="Create new Job request" backRouterBoolean={true} /> -->
    </div>
    <div class="row wrapper_button gap-flex-08">
      <!-- <ButtonComponent dataButton={btnCancel} />
      <ButtonComponent dataButton={btnSubmit} /> -->
    </div>
  </div>
  <div class="mt-24 paper-bg p-16">
    <div class="w-full row flex-column gap-flex-08">
      <div class="row gap-16">
        <div class="col-xl-6">
          <!-- <InputComponent dataInput={inputJobTitle} /> -->
        </div>
        <div class="col-xl-6">
          <!-- <ComboboxComponent dataCombobox={comboboxDepartment} /> -->

        </div>
      </div>
      <div class="row gap-16">
        <div class="col-xl-6">
          <!-- <InputComponent label="Skills" dataInput={inputSkills} /> -->
        </div>
        <div class="col-xl-6">
          <!-- <ComboboxComponent dataCombobox={comboboxLever} /> -->

        </div>
      </div>
      <div class="row gap-16">
        <div class="col-xl-6">
          <!-- <DatePickComponent dateDta={dateStart} /> -->
        </div>
        <div class="col-xl-6">
          <!-- <DatePickComponent dateDta={dateEnd} /> -->
        </div>
      </div>
      <div class="row gap-16">
        <div class="col-xl-6">
          <!-- <InputComponent dataInput={inputVacancies} /> -->
        </div>
        <div class="col-xl-6">
          <!-- <InputComponent dataInput={inputInterviews} /> -->
        </div>
      </div>
    </div>
    <div class="mt-16 wp-text_area">
      <!-- <TextareaComponent dataTextarea={textareaJobDescription} /> -->
    </div>
  </div>
</div>