<div class="pt-0_8 pb-0_8">
    <h1 class="font-7 font-lg">AAA Company</h1>
    <div class="row gap-flex-85">
      <div class="">
        <span class="text-gray_text mr-0_8">Category:</span>
        <span>---</span>
      </div>
      <div class="">
        <span class="text-gray_text mr-0_8">Issue date:</span>
        <span>01/02/2020</span>
      </div>
      <div class="">
        <span class="text-gray_text mr-0_8">Exp. date:</span>
        <span>01/02/2020</span>
      </div>
    </div>
  </div>
