<div>
  <div class="row justify-space-between align-center">
    <!-- <TitleComponent title="Job requests management" /> -->
    <div class="row">
      <!-- <ButtonComponent dataButton={btnNewJob} /> -->
    </div>
  </div>
  <div class="row align-center justify-space-between mt-24 mb-16">
    <!-- <ListStatusComponent dataStatus={dataStatus} /> -->
    <div class="container-combobox">
      <!-- <ComboboxComponent dataCombobox={dataCombobox} /> -->
    </div>
  </div>
  <div class="paper-bg w-full mt-0_8">
    <!-- <TableComponent dataTable={dataTable} /> -->
  </div>
</div>
