<div class="pt-0_8 pb-0_8">
    <h1 class="font-7 font-lg">English</h1>
    <div class="row gap-flex-60">
        <div class="">
            <span class="text-gray_text mr-0_8">Reading:</span>
            <span>Good</span>
        </div>
        <div class="">
            <span class="text-gray_text mr-0_8">Spoken:</span>
            <span>Good</span>
        </div>
        <div class="">
            <span class="text-gray_text mr-0_8">Written:</span>
            <span>Excellent</span>
        </div>
    </div>
</div>
