.ant-layout {
  min-height: 100vh;
}
.ant-layout-header {
  padding: 0 0 0 0;
  height: inherit;
}
.ant-layout-content{
    padding: 3.2rem;
}
nav {
  ul {
    li {
      height: 46px;

      a {
        color: #999999;
      }

      .active {
        height: 100%;
        width: 100%;
        background-color: #f6e4f6;
        border-right: 2px solid #8d308d;
        color: #8d308d;
      }

      a:hover {
        color: #8d308d;
        line-height: 46px;
      }
    }
  }
}
