<div>
  <!-- <ComboboxComponent dataCombobox={dataPropInterviewer} /> -->
  <!-- <app-compobox-common
    [inputCompobox]="compoboxDepartment"
    (onChange)="handleChange($event, 'department')"
  ></app-compobox-common> -->
  <div class="row gap-08">
    <div class="col-xl-6">
      <!-- <DatePickComponent dateDta="{dateInterviewer}" /> -->
      <!-- <app-date-pick-common
      [dataInput]="dateEnd"
      (onChange)="handleChange($event, 'end_date')"
    ></app-date-pick-common> -->
    </div>
    <div class="col-xl-3">
      <div class="label-body"></div>
      <!-- <ComboboxComponent dataCombobox="{dataPropInterviewerHour}" /> -->
      <!-- <app-compobox-common
    [inputCompobox]="compoboxDepartment"
    (onChange)="handleChange($event, 'department')"
  ></app-compobox-common> -->
    </div>
    <div class="col-xl-3">
      <div class="label-body"></div>
      <!-- <ComboboxComponent dataCombobox="{dataPropInterviewerMinute}" /> -->
       <!-- <app-compobox-common
    [inputCompobox]="compoboxDepartment"
    (onChange)="handleChange($event, 'department')"
  ></app-compobox-common> -->
    </div>
  </div>
</div>
<!-- <div class="display-flex gap-flex-08 justify-flex-end mt-32">
  <ButtonComponent dataButton="{btnReject}" />
  <ButtonComponent dataButton="{btnSubmit}" />
</div> -->
