<div class="display-flex flex-column gap-flex-0_4">
    <div class="display-flex align-center">
        <span class="title_item text-gray_text">Job title:</span>
        <span>Web App Developer (PHP/C#/.Net/JavaScript)</span>
    </div>
    <div class="display-flex align-center">
        <span class="title_item text-gray_text">Date available:</span>
        <span>08/08/2024</span>
    </div>
    <div class="display-flex align-center">
        <span class="title_item text-gray_text">Salary expected:</span>
        <span>$2000</span>
    </div>
</div>
