.wrapper_button {
    gap: 8px;
  }
  .wrapper_left {
    height: inherit;
  }
  .title_item {
    display: inline-block;
    min-width: 9rem;
    margin-right: 8px;
    color: #666666;
  }
  .evaluation-item_title {
    min-width: 130px;
    display: inline-block;
    margin-right: 8px;
  }