.wrapper_date-week {
    .week-date {
        width: 14rem;
        height: 2.4rem;
        border: 2px solid black;
    }
}

.title-interview {
    min-width: 100px;
    display: inline-block;
}

.wp__left-side {
    max-height: 800px;
}